.App {
  text-align: center;
  height: 900px;
  width: 100%;
    font-family: "Exo", sans-serif;
    margin: 30px auto;
    background: linear-gradient(
      rgb(215, 172, 240),
      rgb(140, 206, 236),
      rgb(252, 226, 178)
      );
}

h1 {
  color: rgb(111, 61, 116);
  font-size: 100px;
  padding-top: 80px;
}

h3 {
  color: #feffb5;
padding-top: 50px;

}

ul {
  margin: 10px;
  list-style: none;
  padding: 40px 0px;
  font-size: 20px;
}

li::first-letter {
  text-transform: capitalize;
}

.App-link {
  color: #61dafb;
}

footer{
  font-size: 10px;
  padding-top: 40px;
}